<div class="container">
    <div class="row">
        <div class="col-sm-6">
            <div class="tour-section">
                <h1>in Havana<span>General Tours </span></h1>
                <ul>
                    {{#each data.tours_list.general}}
                        <li>
                            <a href="{{this.marker}}">{{this.name}}</a>
                        </li>
                    {{/each}}

                </ul>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="tour-section">
                <h1>outside Havana
                    <span>Day Trips</span>
                </h1>
                <ul>
                    {{#each data.tours_list.outside}}
                        <li>
                            <a href="{{this.marker}}">{{this.name}}</a>
                        </li>
                    {{/each}} </ul>
            </div>
        </div>
        <div class="col-sm-12">
            <div class="tour-section">
                <h1>Specialized Tours 
                    <span>Your tour guide will be specialized on the subject</span>
                </h1>
                <ul>
                    {{#each data.tours_list.specialized}}
                        <li>
                            <a href="{{this.marker}}">{{this.name}}</a>
                        </li>
                    {{/each}}
                    </ul>
            </div>
        </div>
    </div>
</div>
</div>